<div *ngIf="dataSource && dataSource.data && dataSource.data.length !=0">
    <mat-table #table [dataSource]="dataSource" >
     
      <ng-container *ngFor="let column of headers" [matColumnDef]="column.columnDef">
        <mat-header-cell *matHeaderCellDef>
            <b>{{column.header}}</b>
        </mat-header-cell>
    
        <mat-cell *matCellDef="let row">
            {{column.cell(row)}}   
        </mat-cell> 
      </ng-container>
    
      <ng-container matColumnDef="actions" >
         <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <div *ngIf="actions.length > 1">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <span *ngFor="let act of filterActions(row); let index = index">
                            <button mat-menu-item (click)="OnActionClick(act,row)">
                                <mat-icon matTooltip="{{actionToolTip.get(act)}}">{{actionIcons.get(act)}}</mat-icon>
                            </button>
                        </span>
                    </mat-menu>
                </div>
            </mat-cell>
      </ng-container>
    
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    </div>
    <br>
    <div *ngIf="dataSource && dataSource.data && dataSource.data.length < 1" style="text-align: center;">
        <p><b>No Records found</b></p>
    </div>